{% extends "layout.html" %}
{% block content %}
<div class="jumbotron mt-5 text-center">
    <h1 class="custom-text1">Welcome to the ACI Automation portal!</h1>
    <h2 class="custom-text1">This portal is a one-stop repository of all the tools developed by the ACI mandates team.</h2>
    <img src="{{ url_for('static', filename='about.png')}}" alt="Welcome image" class="img-fluid mt-4 d-block mx-auto">
    <h3 class="custom-text1"></h3>
    <h4 class="custom-text1">Contributors:</h4>
    <h5 class="custom-text2">Rohan Sangodkar : rohan.sangodkar@aciworldwide.com</h5>


</div>
{% endblock content %}